.card:hover {
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}

.card {
    background-size: cover;
    background-position: center;
}
.btn-next {
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
}
.btn-next:hover{
    background-color: bisque;
    color: black;
}