<app-nav></app-nav>

<div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <!--<img src="../../../assets/Digimon/logo.png" class="img-fluid small-image" alt="" style="max-width: 300px">-->
    </div>
  </div>
    <div id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselDark" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselDark" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselDark" data-bs-slide-to="2"></li>
          <li data-bs-target="#carouselDark" data-bs-slide-to="3"></li>
          <li data-bs-target="#carouselDark" data-bs-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/Digimon/img_4.jpg" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Digimon/imagen_1.png" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Digimon/imagen_2.png" class="d-block w-100" alt="Slide 3">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Digimon/imagen_3.png" class="d-block w-100" alt="Slide 3">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Digimon/imagen_4.png" class="d-block w-100" alt="Slide 3">
          </div>
        </div>
          <a class="carousel-control-prev" href="#carouselDark" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselDark" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
    </div>

    <div>
      <h2 class="d-flex justify-content-center align-items-center">Niños Elegidos</h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="image-container">
            <img src="assets/cato (1).jpg" alt="">
          </div>
          <div class="image-container">
            <img src="assets/vola.jpg" alt="">
          </div>
          <div class="image-container">
            <img src="assets\agumin.jpg" alt="">
          </div>
          <div class="image-container">
            <img src="assets/pajaro.jpg" alt="">
          </div>
          <div class="image-container">
            <img src="assets/plan.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
      

   
    <div class="container">
      <h2 class="text-center mb-4">Temporadas con más audiencia de Digimon</h2>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Puesto</th>
              <th scope="col">Temporada</th>
              <th scope="col">Episodios</th>
              <th scope="col">Fecha de estreno</th>
              <th scope="col">Audiencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle" style="background-color: #f8d7da;">1</td>
              <td class="align-middle" style="background-color: #fff3cd;">1</td>
              <td class="align-middle" style="background-color: #f8d7da;">54</td>
              <td class="align-middle" style="background-color: #fff3cd;">7 de marzo de 1999</td>
              <td class="align-middle" style="background-color: #f8d7da;">14.7</td>
            </tr>
            <tr>
              <td class="align-middle" style="background-color: #f8d7da;">2</td>
              <td class="align-middle" style="background-color: #fff3cd;">2</td>
              <td class="align-middle" style="background-color: #f8d7da;">50</td>
              <td class="align-middle" style="background-color: #fff3cd;">2 de abril de 2000</td>
              <td class="align-middle" style="background-color: #f8d7da;">13.4</td>
            </tr>
            <tr>
              <td class="align-middle" style="background-color: #f8d7da;">3</td>
              <td class="align-middle" style="background-color: #fff3cd;">6</td>
              <td class="align-middle" style="background-color: #f8d7da;">79</td>
              <td class="align-middle" style="background-color: #fff3cd;">6 de julio de 2010</td>
              <td class="align-middle" style="background-color: #f8d7da;">13.4</td>
            </tr>
            <tr>
              <td class="align-middle" style="background-color: #f8d7da;">4</td>
              <td class="align-middle" style="background-color: #fff3cd;">4</td>
              <td class="align-middle" style="background-color: #f8d7da;">50</td>
              <td class="align-middle" style="background-color: #fff3cd;">7 de abril de 2002</td>
              <td class="align-middle" style="background-color: #f8d7da;">12.4</td>
            </tr>
            <tr>
              <td class="align-middle" style="background-color: #f8d7da;">5</td>
              <td class="align-middle" style="background-color: #fff3cd;">3</td>
              <td class="align-middle" style="background-color: #f8d7da;">51</td>
              <td class="align-middle" style="background-color: #fff3cd;">1 de abril de 2001</td>
              <td class="align-middle" style="background-color: #f8d7da;">12.2</td>
            </tr>
            <tr>
              <td class="align-middle" style="background-color: #f8d7da;">6</td>
              <td class="align-middle" style="background-color: #fff3cd;">5</td>
              <td class="align-middle" style="background-color: #f8d7da;">48</td>
              <td class="align-middle" style="background-color: #fff3cd;">2 de abril de 2006</td>
              <td class="align-middle" style="background-color: #f8d7da;">12.1</td>
            </tr>
            <tr>
              <td class="align-middle" style="background-color: #f8d7da;">7</td>
              <td class="align-middle" style="background-color: #fff3cd;">9</td>
              <td class="align-middle" style="background-color: #f8d7da;">67</td>
              <td class="align-middle" style="background-color: #fff3cd;">3 de octubre de 2021</td>
              <td class="align-middle" style="background-color: #f8d7da;">12.0</td>
           
          </tbody>
        </table>
      </div>
    </div>
    
</div>

<app-footer></app-footer>