<div class="ayuda">
    <div class="necesitas_ayuda">
        <h3>¿NECESITAS AYUDA?</h3>
        <p>¡Estamos aquí para ayudarte! No dudes en contactarnos.</p>            
    </div>
    <div class="tipos_contacto">
        <div class="contacto">
            <div class="titulo_tipo_contacto">
                <img src="../../../assets/comentario.png" alt="Icono de mensaje">
                <span>Háblanos</span>
            </div>
            <div class="contenido_tipo_contacto">
                <p>Puedes comunicarte con nosotros a través del chat en línea.</p>
                <p>Disponible de lunes a viernes de 9:00 a 18:00 horas.</p>
            </div>
        </div>
        <div class="contacto">
            <div class="titulo_tipo_contacto">
                <img src="../../../assets/telefono.png" alt="Icono de teléfono">
                <span>Llámanos</span>
            </div>
            <div class="contenido_tipo_contacto">
                <p>Contáctanos por teléfono al: +34 963 666 666</p>
                <p>De lunes a viernes de 9:00 a 14:00 horas.</p>
                <!---Cris-->
            </div>
        </div>
        <div class="contacto">
            <div class="titulo_tipo_contacto">
                <img src="../../../assets/correo.png" alt="Icono de correo electrónico">
                <span>Escríbenos</span>
            </div>
            <div class="contenido_tipo_contacto">
                <p>Envíanos un mensaje a través del siguiente formulario:</p>
            </div>
        </div>
    </div>
</div>

<form action="#" method="get" class="formulario_contacto">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu nombre">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe tu mensaje aquí"></textarea>
    </div>
    <div class="submit">
        <input type="submit" value="Enviar" class="btn btn-primary">
    </div>
</form>
