/************************AYUDA*************************/
.ayuda{
    margin: 0 10%;
}
h3{
    margin-top: 30px;
}
p{
    margin-bottom: 3rem;
}

/*******TIPOS CONTACTO******/
.tipos_contacto{
    
    display: flex; /*Todos los elementos se ajustan a la caja con clase "tipos_contacto", se quedan en la misma línea un al lado de la otra*/
    /*margin: 0 15%;*/
    justify-content: space-around; /*Todos los elementos se ajustan a la caja con clase "tipos_contacto", distribuyendose equitativamente*/
}
.titulo_tipo_contacto img{
    width: 20px;
}
.contacto{
    padding-right: 30px;
    justify-content: space-around;
}
/***********************FORMULARIO*********************/

.formulario_contacto {
    margin-top: 200px !important;
  width: 80%;
  margin: 5% auto; 
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  border-left: 2px solid #d0a7e4; 
  border-right: 2px solid #d0a7e4; 
  border-bottom: 2px solid #d0a7e4; 
  
}


.img-fluid{
    position: absolute;
    margin-top: -200PX;
    left: 50%;
    transform: translateX(-50%);
    width: 400px; /* ajusta el tamaño de la imagen según sea necesario */
    z-index: 1; /* para que la imagen esté encima del formulario */
  }

