<app-nav></app-nav>

<div class="ayuda">
    <img src="assets/Envíanos.png" alt="Imagen de fondo" class="img-fluid" >


    <form action="#" method="get" class="formulario_contacto">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje:</label>
            <textarea class="form-control" id="mensaje" rows="5" placeholder="Escribe tu mensaje aquí"></textarea>
        </div>
        <div class="submit">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>


  
    <div class="tipos_contacto">
        <div class="contacto">
            <div class="titulo_tipo_contacto">
                <img src="../../../assets/comentario.png" alt="Icono de mensaje">
                <span>Háblanos</span>
            </div>
            <div class="contenido_tipo_contacto">
                <p>Puedes comunicarte con nosotros a través del chat en línea.</p>
            </div>
        </div>
        <div class="contacto">
            <div class="titulo_tipo_contacto">
                <img src="../../../assets/telefono.png" alt="Icono de teléfono">
                <span>Llámanos</span>
            </div>
            <div class="contenido_tipo_contacto">
                <p>Contáctanos por teléfono al: +34 963 666 666</p>
            </div>
        </div>
        <div class="contacto">
            <div class="titulo_tipo_contacto">
                <img src="../../../assets/correo.png" alt="Icono de correo electrónico">
                <span>Escríbenos</span>
            </div>
            <div class="contenido_tipo_contacto">
                <p>Envíanos un mensaje a través del siguiente formulario:</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>