<body style="background-image: url('assets/ddd.jpg'); background-size: cover; background-position: center;">

  <section>
  
      <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
          <div class="row gx-lg-5 align-items-center mb-5 justify-content-center">
              
              <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                  <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                  <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                  <div class="card mt-4" style="background-color: rgba(245, 227, 179, 0.3); backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);">
                      
                      <div class="card-body px-4 py-5 px-md-5">
                          <form>
                              <div class="card-body p-md-8 text-black">
                                  <img src="assets/logodigi.png"  width="450">
                              </div>

                              <div class="row">
                                  <div class="col-md-6 mb-4">
                                      <div data-mdb-input-init class="form-outline">
                                          <input type="text" id="form3Example1" class="form-control" />
                                          <label class="form-label" for="form3Example1">Nombre</label>
                                      </div>
                                  </div>
                                  <div class="col-md-6 mb-4">
                                      <div data-mdb-input-init class="form-outline">
                                          <input type="text" id="form3Example2" class="form-control" />
                                          <label class="form-label" for="form3Example2">Apellido</label>
                                      </div>
                                  </div>
                              </div>

                              <!-- Email input -->
                              <div data-mdb-input-init class="form-outline mb-4">
                                  <input type="email" id="form3Example3" class="form-control" />
                                  <label class="form-label" for="form3Example3">Email</label>
                              </div>

                              <!-- Password input -->
                              <div data-mdb-input-init class="form-outline mb-4">
                                  <input type="password" id="form3Example4" class="form-control" />
                                  <label class="form-label" for="form3Example4">Contraseña</label>
                              </div>
                              <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="form3Example4" class="form-control" />
                                <label class="form-label" for="form3Example4">Repita su Contraseña</label>
                            </div>

                              <!-- Checkbox -->
                              <div class="form-check d-flex justify-content-center mb-4">
                                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                  <label class="form-check-label" for="form2Example33">
                                      Subscribete a todo lo nuevo de Digimon
                                  </label>
                              </div>

                              <a href="Login" class="btn btn-primary btn-block" style="margin-left:170px; background-color: rgb(240, 203, 81); color: black; border-color: rgb(245, 245, 75); 
                              transition: background-color 0.3s, border-color 0.3s, color 0.3s; text-decoration: none; display: inline-block; padding: 10px 20px;" 
                              onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='yellow' ;">
                              Registrarse
                          </a>
                          
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</body>
