
<div class="container d-flex align-items-center justify-content-center" style="background-image: url('assets/gonza.jpg'); height: 100vh;">
    <div class="contenido"  >

            
                <div class="text-center mb-4">
                    <h2>Bienvenido</h2>
                    <p></p>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <input type="text" id="form3Example1" class="form-control" />
                                <label class="form-label" for="form3Example1">Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <input type="text" id="form3Example2" class="form-control" />
                                <label class="form-label" for="form3Example2">Apellido</label>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-group mb-4">
                        <input type="email" id="form3Example3" class="form-control" />
                        <label class="form-label" for="form3Example3">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-group mb-4">
                        <input type="password" id="form3Example4" class="form-control" />
                        <label class="form-label" for="form3Example4">Contraseña</label>
                    </div>
                    
                   

                    <!-- Submit button -->
                    <a href="inicio" class="btn btn-primary btn-block mb-4">
                        Entrar
                    </a>
                    <div class="reigs">
                        <a href="register" class="regis">Regístrate</a>
                    </div>

                    
                </form>
            
    </div>
</div>

    


