<app-nav></app-nav>

@if (personaje) {
    <div class="row justify-content-center align-items-center">
        <button class="btn btn-info col-1" (click)="cambiarChar(personaje.id -1)">Anterior</button>
        <div class="card">
            <img src="{{personaje.images[0].href}}" alt="">
            <div class="card__content">
                <h5 class="card__title"><strong>{{personaje.id}}. </strong>{{personaje.name}}</h5>
                <p class="card__description"><strong>ID: </strong> {{personaje.id}}</p>
                <p class="card__description"><strong>Nombre: </strong>{{personaje.name}}</p>
                <p class="card__description"><strong>Level: </strong>{{personaje.levels[0].level}}</p>
                <p class="card__description"><strong>Type: </strong>{{personaje.types[0].type}}</p>
                <p class="card__description"><strong>Skill: </strong>{{personaje.skills[0].skill}}</p>
            </div>
        </div>
        <button class="btn btn-info col-1" (click)="cambiarChar(personaje.id +1)">Siguiente</button>
    </div>
      
    <app-footer></app-footer>
}